.App h2 {
  position: absolute;
  top: 0;
  left: 45%;
  z-index: 10;

}

.search, .church-info {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.search select {
  width: 300px;
  padding: 10px;
  border-radius: 3px;
}

.church-info {
  z-index: 8;
  padding: 40px 10px 10px;
  width: 300px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  line-height: 30px;
}

.church-info span {
  padding: 2px;
}


.map {
  width: 100vw;
  height: 100vh;
}
